.page {
  box-sizing: border-box;
  background-color: #2A2C2F;
  width: 100%;
  height: 100%;
  font-family: 'inter', Arial, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
