.photo-grid {
  box-sizing: border-box;
  margin: 0;
  padding: 64px 16px 0 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin: 0 auto;
    padding: 82px 0 0 0;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    margin: 0 auto;
    padding: 92px 0 0 0;
    min-width: 1184px;
    max-width: calc(100% - 96px);
  }
}
