.header__lang {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.11;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.header__lang:last-child {
  margin-right: 0;
}

.header__lang:hover {
  opacity: .5;
}

@media screen and (min-width: 768px) {
  .header__lang {
    font-size: 24px;
    line-height: 1.17;
  }
}
