.lead {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .lead {
    margin: 0 auto;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}
