.cover__subtitle {
  margin: 0;
  padding-top: 16px;
  max-width: 288px;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    padding-top: 32px;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
  }
}
