.places__text {
  margin: 0 0 25px 0;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
}

.places__text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .places__text {

  }
}

@media screen and (min-width: 1024px) {
  .places__text {
    font-size: 18px;
  }
}
