.header {
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}


@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
  }
}
