.footer__link {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: .5;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
  }
}
