.lead__img {
  display: block;
  padding-top: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .lead__img {
    padding-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__img {
    margin: 0 auto;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__img {
    padding-top: 64px;
    max-width: 984px;
  }
}
