.cover__title {
  margin: 0;
  max-width: 288px;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
  }
}

