.place {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .place {
    padding-top: 73px;
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    padding-top: 80px;
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
    column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
    column-gap: 40px;
  }
}
