.intro__title {
  margin: 0;
  padding: 64px 0 0 0;
  min-width: 288px;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .intro__title {
    padding-top: 88px;
    font-size: 54px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    padding-top: 92px;
  }
}
